<ul class="kt-menu__nav ">
    <li class="kt-menu__item  kt-menu__item--active" aria-haspopup="true">
        <a href="/admin/index" class="kt-menu__link ">
            <i class="kt-menu__link-icon flaticon2-protection"></i>
            <span class="kt-menu__link-text">Dashboard</span>
        </a>
    </li>

    <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
    <li class="kt-menu__item " aria-haspopup="true">
        <a href="/Admin/Judge" class="kt-menu__link ">
            <i class="kt-menu__link-icon flaticon2-list-3"><span></span></i>
            <span class="kt-menu__link-text">Judges</span>
        </a>
    </li>
    <li class="kt-menu__item " aria-haspopup="true">
        <a href="/Admin/Client" class="kt-menu__link ">
            <i class="kt-menu__link-icon flaticon-users"><span></span></i>
            <span class="kt-menu__link-text">Clients</span>
        </a>
    </li>
    <li class="kt-menu__item " aria-haspopup="true">
        <a href="/Admin/Class" class="kt-menu__link ">
            <i class="kt-menu__link-icon flaticon-alert-1"><span></span></i>
            <span class="kt-menu__link-text">Classes</span>
        </a>
    </li>

    </li>
</ul>